table, th, td{
  border: 1px solid red;
}
table{
  background-color: rgb(5, 254, 150);
  color: black;
}
th{
  background-color: red;
  color: white;
  text-align: center;
}
td{
  text-align: center;
}
h2{
  background-color: brown;
  color: aliceblue;
  text-align: center;
}
.btn{
  background-color: aqua;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin-left:46%;
}
